body{
    color: lightgoldenrodyellow;
    background-color: cadetblue;
    background-size: cover;
}
h1{
    background-color: burlywood;
    color: cornsilk;
}
button{
    background-color: lightcoral;
}
h3{
    bottom: 0px;
    position: fixed;
    background-color: coral;
    width: 45%;
    font-size: 30px;
    color: crimson;
}